<div class="flex-grow-1 flex align-items-center justify-content-center bg-gray-200 h-screen">
    <div class="fadein animation-duration-500 surface-card p-4 shadow-2 border-round w-full m-4 md:m-0 md:w-3">
        <div class="text-center mb-5">
            <div class="acesso">Acesso ao Sistema</div>
        </div>

        <div>
            <form [formGroup]="form" class="conteudo">
                <label for="usuario" class="block text-900 font-medium mb-2">Email</label>
                <input formControlName="email" type="text" pInputText class="caixa">
                <label for="senha" class="block text-900 font-medium mb-2">Senha</label>
                <input formControlName="password" type="password" pInputText class="caixa">
            </form>

            <br>
            <button (click)="acessar()" pButton pRipple label="Acessar" icon="pi pi-user"
                class="button" [disabled]="!form.valid"><span>Acessar</span></button>
        </div>
    </div>
</div>