<div class="sobreGeral">
    <h2 class="subtitulo titulo-contato">Sobre Nós</h2>
    <div class="container">
        <div class="sobre01">
            <div id="imagem">
                <img class="imagem-perfil" src=".\assets/img/gelson.jpeg" alt="Imagem de perfil Gelson" target="_blank">
            </div>
            <div id="conteudo01">
                <p class="nome">Gelson José de Almeida Filho</p>
                <p class="função">Especialista em Segurança da Informação</p>
                <p class="email">gelson.filho@facens.br</p><br>
                <p class="socialMedia">
                    <a href="https://github.com/GelsonFilho" target="_blank"><img
                            src="assets/img/github.svg" alt="Github"></a>
                    <a href="https://www.linkedin.com/in/gelson-filho/" target="_blank"><img
                            src="assets/img/linkedin.svg" alt="Linkedin"></a>
                </p>
            </div>
        </div>

        <div class="sobre02">
            <div id="imagem">
                <img class="imagem-perfil" src="assets/img/renato.jpg" alt="Imagem de perfil Renato">
            </div>
            <div>
                <p class="nome">Renato do Nascimento Júnior</p>
                <p class="função">Especialista em Segurança da Informação</p>
                <p class="email">renato.junior@facens.br</p><br>
                <p class="socialMedia">
                    <a href="https://github.com/renatojrfacens" target="_blank"><img src="assets/img/github.svg"
                            alt="Github"></a>
                    <a href="https://www.linkedin.com/in/renato-do-nascimento-j%C3%BAnior-a97367111/" target="_blank"><img
                            src="assets/img/linkedin.svg" alt="Linkedin"></a>
                </p>
            </div>
        </div>
    </div>

</div>

<mat-toolbar class="footer">
    <span>
        Desenvolvido com
        <i class="material-icons v-middle" appRed>
            favorite
        </i>
        por <strong>Equipe Connor</strong>
    </span>

</mat-toolbar>