<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Cyber Sec Web App 
    </mat-card-title>
    <mat-card-subtitle class="subtitulo">
        O site para você que quer iniciar sua carreira em Segurança cibernética! <br><br>
        <!-- conceitos -->
    <br>
    <div id="conceitos" class="Conceitos">
    <h1 class="titulo"><strong> Conceitos Básicos em Cibersegurança</strong></h1>
    <img class="imagem_conc3" src="assets/img/img05_conc.JPG" alt="Conceitos" style="float: right">
    <div>
        <h1 class="subtitulo">O que é Cibersegurança?</h1>
        <p class="paragrafo2">A cibersegurança é uma área de atuação importante dentro da segurança da informação e representa apenas os ativos digitais como a proteção de rede, hardware, software, infraestrutura tecnológica
            e serviços tendo sua atuação direcionada aos dados e protegendo-os contra roubo ou danos, como servidores, dispositivos móveis, redes e aplicativos assim como sistemas da informação.</p>

        <img class="imagem_conc" src="assets/img/img01_conc.jpg" alt="Conceitos" style="float: right">
        <h1 class="subtitulo"> Quais as diferenças com relação à segurança da informação?</h1>

        <p class="paragrafo2">A segurança da informação é relacionada com proteção de um conjunto de informações,visando à proteção dos ativos da empresa como um todo. <br>
            Dentre as atividades de segurança que estão contidas dentro desse termo, podemos citar: <br> <br>
            • Gestão de pessoas: controle de acesso e distribuição de informação;<br>
            • Políticas de segurança: criação de regras claras acerca do uso dos dados;<br>
            • Segurança física: criação de barreiras que impeçam pessoas sem autorização de ter acesso a dados. </p>


        <div>
            <h1 class="paragrafo2">Além dos pilares outros conceitos importantes para o setor de Cibersegurança são:</h1>

            <h1 class="subtitulo">1. Confidencialidade</h1>
            <p class="paragrafo2">A Confidencialidade tem a ver com a privacidade dos dados da organização e pode ser conceituada como a imposição de limites de acesso apenas às pessoas que têm autorização ou direito sobre a informação, tendo níveis de acesso estabelecidos
                aos colaboradores da organização, como visualização, editação e exclusão de dados. </p>

            <h1 class="subtitulo">2 . Disponibilidade</h1>
            <p class="paragrafo2"> A Disponibilidade está relacionada ao tempo e à acessibilidade que se tem dos dados e sistemas da empresa, ou seja, se eles podem ser consultados a qualquer momento
                pelos colaboradores garantindo que o sistema permanece sem quedas ou interrupções.</p>

            <h1 class="subtitulo">3. Integridade</h1>
            <p class="paragrafo2">A integridade é a garantia de que as informações manterão suas características originais com consistência e confiabilidade das informações
                e dos sistemas da empresa ao longo dos processos ou de seu ciclo de vida. <br> Caso precisem ser manipuladas apenas o proprietário dos dados pode fazer a alteração,
                caso haja interferência externa os dados podem estar corrompidos, comprometidos ou danificados.</p>

            <h1 class="subtitulo">4. Firewall</h1>
            <img class="imagem_conc5" src="assets/img/img08_conc.JPG" alt="Conceitos" style="float: right">
            <p class="paragrafo2"> A tecnologia de firewall é a primeira e principal proteção de uma empresa contra ataques cibernéticos,
                funcionando como um filtro que controla o fluxo de dados entre a rede externa e as máquinas da organização
                e decide permitir ou bloquear tráfegos de rede específicos de acordo com um conjunto definido de regras de segurança.</p>

            <h1 class="subtitulo">5. Ataques de negação de serviço</h1>
            <img class="imagem_conc5" src="assets/img/img07_conc.JPG" alt="Conceitos" style="float: right">
            <p class="paragrafo2">O ataque do tipo DoS (Denial Of Service), ou ataques de negação de serviço, utilizam sistemas especialistas que fazem milhares de requisições a um servidor ao mesmo tempo,
                derrubando o serviço e deixando-o offline por meio de uma sobrecarga.</p>

            <h1 class="subtitulo">6. Criptografia</h1>
            <img class="imagem_conc4" src="assets/img/img06_conc.JPG" alt="Conceitos" style="float: right">
            <p class="paragrafo2">A criptografia é uma técnica que tem como objetivo evitar o acesso indesejado de pessoas sem autorização à leitura de determinadas informações e manter a confidencialidade
                dos dados usando de determinados esquemas matemáticos e algoritmos para codificar a informação em textos inelegíveis. </p>

            <h1 class="subtitulo">7. Assinatura digital</h1>
            <p class="paragrafo2">A assinatura digital funciona como um método de criptografia, mas o seu objetivo é encriptar documentos e arquivos com uma identificação única que possa garantir a sua autenticidade perante os usuários.</p>

            <h1 class="subtitulo">8. Defesa em profundidade</h1>
            <p class="paragrafo2">Defesa em profundidade é ter muitas linhas de defesa para proteger de uma forma de ataque. </p>

            <h1 class="subtitulo">9. Políticas, Padrões, Procedimentos e Diretrizes</h1>
            <p class="paragrafo2">• Políticas: declarações gerais da administração sobre segurança
                regras que devem ser seguidas <br>
                • Padrões: controles de segurança obrigatórios específicos <br>
                • Procedimentos: instruções passo a passo para implementação
                os padrões e políticas <br>
                • Diretrizes: ações recomendadas a seguir </p>
        </div>
    </div>
    </div><br>
        <!-- certificação -->
<div id="cert" class="certf_geral">
    <h1 class="certf_titulo">Certificações</h1><br>
    <p class="certf_paragrafo">O número de incidentes relacionados à segurança da informação têm aumentado cada vez mais, e com isso, torna-se necessário que as empresas busquem profissionais de segurança da informação cada vez mais preparados para lidar com os desafios que surgem.<br>Para se destacar no mercado, além de expandir o aprendizado, é extramemente recomendado que o profissional de Cybersecurity realize a aquisição de certificações, que validam e comprovam as competências deste profissional.</p><br>
    <p class="certf_paragrafo2">Saiba mais sobre as principais certificações que você deve buscar para se destacar na área de cybersecurity</p> <br>
</div>
<div class="certf_geral">
    <details class="certf_collapse">
        <summary class="certf_summary">CompTIA Security+</summary>
        <div class="certf_description">
            A CompTIA Security+ é uma certificação global que valida os conhecimentos de rede e operações de segurança, ameaças e vulnerabilidades, compliance, controle de acesso, gerenciamento de identidade, criptografia, dentre outros.<br><br>Essa certificação pode ser considerada a primeira que um candidato deve obter, pois estabelece o conhecimento básico necessário para executar funções de segurança cibernética, além de auxiliar que estes candidatos obtenham trabalhos de nível intermediário na área de segurança cibernética.
            <br><br>
            <a href="https://www.comptia.org/pt/certificacoes/security">Saiba Mais</a>
        </div>
    </details>
    <details class="certf_collapse">
        <summary class="certf_summary">GSEC: GIAC Security Essentials</summary>
        <div class="certf_description">
            A GIAC Security Essentials (GSEC) é uma certificação recomendada para iniciantes na área, e visa demonstrar os conhecimentos acerca dos fundamentos de segurança da informação.
            <br><br>
            <a href="https://www.giac.org/certifications/security-essentials-gsec/">Saiba Mais</a>
        </div>
    </details>
    <details class="certf_collapse">
        <summary class="certf_summary">SSCP: Systems Security Certified Practitioner</summary>
        <div class="certf_description">
            A System Security Certified Practitioner (SSCP) é uma certificação que valida os conhecimentos em autenticação, detecção e prevenção de intrusão, resposta a incidentes, ameaças e vulnerabilidades, criptografia, medidas de proteção contra códigos maliciosos e muito mais.<br>Esta certificação é similar ao Security+, oferecido pela CompTIA.
            <br><br>
            <a href="https://www.isc2.org/Certifications/SSCP">Saiba Mais</a>
        </div>
    </details>
    <details class="certf_collapse">
        <summary class="certf_summary">CEH: Certified Ethical Hacker (CEH)</summary>
        <div class="certf_description">
            O CEH valida os conhecimentos de técnicas, ferramentas e tecnologias utilizadas por hackers para atacar e comprometer as redes.<br>É uma excelente certificação para demonstrar entendimento acerca dos tipos comuns de ataques cibernéticos, bem como se proteger destes.
            <br><br>
            <a href="https://www.eccouncil.org/programs/certified-ethical-hacker-ceh/">Saiba Mais</a>
        </div>
    </details>
    <details class="certf_collapse">
        <summary class="certf_summary">OSCP Certification</summary>
        <div class="certf_description">
            A OSCP (The Offensive Security Certified Professional) é uma renomada certificação que garante que o portador desta certificação é qualificado a conduzir testes de intrusão.<br>O teste para concluir a certificação é dado num prazo de 24h, no qual os estudantes devem atacar e invadir uma rede de testes. Caso não consigam invadir a rede nesse período, são desclassificados.
            <br><br>
            <a href="https://www.offensive-security.com/pwk-oscp/">Saiba Mais</a>
        </div>
    </details>
    <details class="certf_collapse">
        <summary class="certf_summary">CISA: Certified Information Systems Auditor</summary>
        <div class="certf_description">
            A CISA (Certified Information Systems Auditor) é uma certificação que valida os conhecimentos do portador na área de Controle e Auditoria de Segurança da Tecnologia da Informação.<br>O estudante será testado em suas habilidades de acesso a vulnerabilidades, relatórios de compliance e implementação de controle em uma organização.
            <br><br>
            <a href="https://www.isaca.org/credentialing/cisa?utm_source=google&utm_medium=cpc&utm_campaign=CertBAU&utm_content=sem_CertBAU_certification-cisa-latam-product-google&cid=sem_2006825&Appeal=sem&gclid=CjwKCAjwu5yYBhAjEiwAKXk_eAn0dy6JW1bDJx1r9xqZnNmTYgM1ydMRkOILLQAlatIs_bJEOGMmHBoC6mIQAvD_BwE">Saiba Mais</a>
        </div>
    </details>
    <details class="certf_collapse">
        <summary class="certf_summary">CISSP (Certified Information Systems Security Professional)</summary>
        <div class="certf_description">
            A CISSP é uma certificação mundialmente reconhecida e uma das mais requisitadas por empresas que estão contratando novos funcionários.<br>O exame testará as habilidades dos estudantes de criar, projetar, implementar e gerenciar um programa de segurança da informação que pode com sucesso proteger uma organização de ataques sofisticados.
            <br><br>
            <a href="https://www.isc2.org/Certifications/CISSP">Saiba Mais</a>
        </div>
    </details>
    <details class="certf_collapse">
        <summary class="certf_summary">CISM: Certified Information Security Manager (CISM)</summary>
        <div class="certf_description">
            A CISM é uma certificação que valida seu conhecimento de princípios de gerenciamento de segurança da tecnologia da informação. O estudante será testado em sua compreensão de como gerenciar, projetar, monitorar e aferir um programa de segurança da informação de uma empresa.
            <br><br>
            <a href="https://www.isaca.org/credentialing/cism?utm_source=google&utm_medium=cpc&utm_campaign=CertBAU&utm_content=sem_CertBAU_certification-cism-latam-category-google&cid=sem_2006847&Appeal=sem&gclid=CjwKCAjwu5yYBhAjEiwAKXk_eHNcQIrtsRy9N2sk2wFN0uc6sRRRCMHv5yiPKrPylx0yHrRQL4wv8xoCzbAQAvD_BwE">Saiba Mais</a>
        </div>
    </details>
    <details class="certf_collapse">
        <summary class="certf_summary">CPP Certification</summary>
        <div class="certf_description">
            A CPP é uma certificação que valida os princípios de gerenciamento de segurança. O exame abrange sete domínios do gerenciamento de segurança e é similar ao CISM de algumas maneiras.
            <br><br>
            <a href="https://www.asisonline.org/certification/certified-protection-professional-cpp/">Saiba Mais</a>
        </div>
    </details>
    <details class="certf_collapse">
        <summary class="certf_summary">CompTIA Advanced Security Practitioner (CASP)</summary>
        <div class="certf_description">
            A CASP é uma certificação para profissionais avançados em segurança da informação, mas que não atuam como gerentes. Profissionais com a certificação CASP+ descobrem como implementar soluções dentro de estruturas de segurança e políticas definidas pela corporação.
            <br><br>
            <a href="https://www.comptia.org/pt/certificacoes/comptia-advanced-security-practitioner">Saiba Mais</a>
        </div>
    </details>
    <details class="certf_collapse">
        <summary class="certf_summary">CompTIA CySA+</summary>
        <div class="certf_description">
            O CySA+ valida os conhecimentos nas áreas de aproveitamento de técnicas para detecção de ameaças, análise e interpretação de dados, identificação e resolução de vulnerabilidades, sugestão de medidas protetivas, resposta efetiva a incidentes.
            <br><br>
            <a href="https://www.comptia.org/pt/certificacoes/cybersecurity-analyst">Saiba Mais</a>
        </div>
    </details>
    <details class="certf_collapse">
        <summary class="certf_summary">CompTIA PenTest+</summary>
        <div class="certf_description">
            O PenTest+ avalia os teste de intrusão mais atualizados, e as habilidades de avaliação e gerenciamento de vulnerabilidades.
            <br><br>
            <a href="https://www.comptia.org/pt/certificacoes/pentest">Saiba Mais</a>
        </div>
    </details>
    <details class="certf_collapse">
        <summary class="certf_summary">GIAC Certified Incident Handler (CIH)</summary>
        <div class="certf_description">
            A CIH valida a habilidade do portador de detectar, responder e resolver incidentes de segurança da informação através de uma variedade de habilidades de segurança.
            <br><br>
            <a href="https://www.giac.org/certifications/certified-incident-handler-gcih/">Saiba Mais</a>
        </div>
    </details>
    <details class="certf_collapse">
        <summary class="certf_summary">Outras</summary>
        <div class="certf_description">
            Existem ainda outras diversas certificações, porém nem todas serão listadas aqui.
        </div>
    </details>
</div>
<div class="certf_geral">
    <br>
</div>
<!-- saber mais -->
<div id="saber" class="pagina_sabermais">
    <h1 class="titulo_sabermais">Para saber mais</h1>

    <picture>
        <source media="(max-width: 450px)" srcset="imagens/sabermais_380.jpg" type="image/jpg">
        <source media="(max-width: 750px)" srcset="imagens/sabermais_750.jpg" type="image/png">
        <source media="(max-width: 1050px)" srcset="imagens/sabermais_1007.jpg" type="image/png">
        <img class="imagem" src="assets/img/sabermais_1519.jpg" alt="imagem ilustrativa segurança da informação">
    </picture>

    <p class="paragrafo_sabermais">Um profissional de segurança da informação precisa estar a par de novas vulnerabilidades reportadas por empresas e institutos de pesquisa, e se manter atualizado sobre novos métodos e ferramentas de invasão ou análise. A seguir, listamos sites e podcasts tanto para o profissional iniciante se aprofundar na área quanto para se manter informado
    </p>

    <h2 class="subtitulos_sabermais">Consulta Geral</h2>
    <ul>
        <li class="paragrafo_sabermais"> <a href="https://csrc.nist.gov/" target="_blank" rel ="external"> NIST COMPUTER SECURITY RESOURCE CENTER</a> – acesso a projetos, publicações, notícias e eventos com a credibilidade fornecida pelo órgão nacional de normas e tecnologia dos EUA.
        </li>
        <li class="paragrafo_sabermais"> <a href="https://www.cerias.purdue.edu/" target="_blank" rel ="external"> CERIAS </a> - Center for Education and Research in Information Assurance and Security. CERIAS fornece diversas palestras e notícias relacionadas a indústria e pesquisas na área realizadas pela Universidade de Purdue
        </li>
        <li class="paragrafo_sabermais"> <a href="https://www.sans.org/white-papers/" target="_blank" rel ="external"> SANS Reading Room </a> - Com mais de 2500 artigos gratuitos para consulta, a sala de leitura do instituto SANS (System Administration, Networking and Security) abrange os mais diversos temas em segurança da informação.

        </li>
    </ul>

    <h2 class="subtitulos_sabermais">Notícias e Blogs</h2>

    <ul>
        <li class="paragrafo_sabermais"> <a href= "https://krebsonsecurity.com/" target="_blank" rel ="external"> Krebs on Security </a> </li>
        <li class="paragrafo_sabermais"> <a href= "https://nakedsecurity.sophos.com/" target="_blank" rel ="external"> Naked Security </a> </li>
        <li class="paragrafo_sabermais"> <a href= "https://www.darkreading.com/" target="_blank" rel ="external"> Dark Reading </a> </li>
        <li class="paragrafo_sabermais"> <a href= "https://threatpost.com/" target="_blank" rel ="external"> Threat Post </a> </li>
        <li class="paragrafo_sabermais"> <a href= "https://www.infosecurity-magazine.com/" target="_blank" rel ="external"> Infosecurity Magazine </a> </li>
    </ul>


    <h2 class="subtitulos_sabermais">Podcasts</h2>
    <ul>
        <li class="paragrafo_sabermais"> <a href= "https://open.spotify.com/show/3b1pfnrXte2nTaYpcQbB2I?si=83dedc893fae49b6" target="_blank" rel ="external"> Cyber Morning Calls </a> - Podcast produzido pela Tempest, os fatos mais importantes ns últimas 24 horas para segurança da informação </li>
        <li class="paragrafo_sabermais"> <a href= "https://open.spotify.com/show/1IbTZuMBM4t6qLqdLVXl5D?si=e11b84cf36c24a7d" target="_blank" rel ="external"> Brakeing Down Security </a> podcast aborda desde conceitos básicos em segurança da informação, políticas e compliance até aplicações de softwares para a área  </li>
        <li class="paragrafo_sabermais"> <a href= "https://open.spotify.com/show/0xnEHBzM0mayXFK5VKpziy?si=6edcff3b03fb4c87" target="_blank" rel ="external"> Down the Security Rabbithole </a> - segurança da informação e os impactos sobre os negócios é tema recorrente neste podcast </li>
    </ul>
</div>
    </mat-card-subtitle>
</mat-card>
<mat-toolbar class="footer">
    <span>
        Desenvolvido com
        <i class="material-icons v-middle" appRed>
            favorite
        </i>
        por <strong>Equipe Connor</strong>
    </span>

</mat-toolbar>