.header{
    display: flex;
    align-items: center;
    background-color: rgb(174, 162, 106);;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration:none;
    color: black;
    
}

.header .logo{
    max-height: 65px;
    color: black;
}

.header .title-group{
    padding-left: 25px;
}

.header .title-group i{
    padding-right: 5px;
}