<section class="dados container">
    <h2 class="subtitulo">Segurança Corporativa</h2>
    <div class="container-flex">
        <div class="container-imagem">
            <img src="/assets/img/imagem-custo-vazamento.png" alt="Gráfico de impacto vazamento de dados">
        </div>
        <div class="container-conteudo">
            <p class="paragrafo-imagem">Em seu relatório “Cost of a Data Breach Report” [1], a IBM Security
                apresenta dados envolvendo os
                prejuízos financeiros causados por vazamentos de dados e explora quais fatores possuem correlação
                com um maior ou menor custo em situações de vazamentos de dados causados por ataques cibernéticos.
                Como pode ser observado na figura abaixo, segundo as pesquisas da IBM Security, o uso de
                Inteligência Artificial (IA) nas empresas foi o principal fator que contribuiu para a redução dos
                custos. </p>
        </div>
    </div>
    <div class="texto-abaixo-imagem">
        <p>Em um cenário onde a média global de um ataque com vazamento de dados, em 2022, é de 4,35 milhões de
            dólares (sendo que no Brasil, o custo médio é de 1,38 milhões de dólares por ataque, 27% a mais que
            nos dados apresentados no relatório do ano de 2021) [1].
            No mundo corporativo, esta redução de custo através do uso Inteligência Artificial se dá através do
            uso de plataformas que, ao utilizar diferentes métodos e conceitos de IA aplicados, principalmente,
            ao monitoramento de seus ativos, envolvendo dados de rede, sistemas, aplicações, dispositivos,
            usuários e outras fontes de dados que podem ser monitoradas.
            Na pesquisa feita pela IBM Institute for Business Value, publicada no relatório “AI and Automation
            for Cybersecurity” [2], as empresas que implantaram o uso de inteligência artificial observaram um
            grande impacto em:
            <br><br>
            • Triagem de ameaças de Tier 1;<br>
            • Detecção de ataques e ameaças zero-day;<br>
            • Maior sucesso em prever a ocorrência de ataques futuros;<br>
            • Redução de falsos positivos;<br>
            • Correlação de comportamento de usuário com indicadores de ameaça.<br>
            <br>
            O aumento de velocidade e eficiência na detecção de ameaças pode ser observado na pesquisa. Na
            imagem abaixo, retirada do “Cost of a Data Breach Report” [1], podemos ver a diferença entre as
            empresas que possuem uma plataforma de inteligência artificial comissionada, parcialmente
            comissionada ou que não possuem qualquer sistema deste tipo.
        </p>
    </div>
    <div>
        <img src="/assets/img/img-tempo-vazamento.png" alt="Tempo0 médio para identificar e conter um vazamento de dados">
        <p class="texto-vazamento">O uso de IA então se provou como uma forma de aumentar a velocidade de detecção e
            contenção de ameaças.</p>
    </div>
</section>

<section class="dados container">
    <h2 class="subtitulo">Adversarial Machine Learning</h2>
    <p>Nem tudo envolvendo o uso de Inteligência Artificial se traduz em benefícios para as empresas e usuários.
        Criminosos cibernéticos encontraram formas de explorar vulnerabilidades no uso de IA. </p><br>
    <p>Sistemas de Machine Learning estão sujeitos a serem utilizados for ofensores cibernéticos de forma a explorar
        vulnerabilidades, podendo nestes casos servir como forma de prejudicar o sistema de uma empresa, ou mesmo
        uma tentativa de enfraquecer suas defesas, pois, como já vimos, há sistemas de segurança que usam Machine
        Learning para monitorar a ocorrência de incidentes. A Microsoft documenta 11 tipos de ataques intencionais a
        sistemas de Machine Learning [46].

        O esquema abaixo, retirado do “FY21 Microsoft Digital Defense Report”[47], ilustra como pode ser feita esta
        exploração de vulnerabilidade. </p>
    <img src="/assets/img/imagem-machine-learning.png" alt="adversarial machine learning">

</section>
<mat-toolbar class="footer">
    <span>
        Desenvolvido com
        <i class="material-icons v-middle" appRed>
            favorite
        </i>
        por <strong>Equipe Connor</strong>
    </span>

</mat-toolbar>